:root {
    --primary-color: #FFF085;
    --secondary-color: #6c757d;
    --ghost-white: #f9f9f9;
    --table-border: #dddddd94;
    --table-padding: 0.75rem;
    --table-header-bg: #f4f4f4;
    --table-row-hover: #eef;
    --button-bg: #e2e8f0;
    --dark: #171717;
    --light-dark: #292524;
    --blank: #ffffff;
    --danger: #d32f2f;
    --green: #2e7d32;
    --blue: #007bff;
    --blue-light: #0057b313;
    --border-input: #ccc;

    --neutral: #737373;

    --font-family: "Inter", sans-serif;

    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    --transition-fast: .3s ease-in-out;
    --transition-base: .3s ease-in-out;
    --min-height: 50px;
    --border-radius: 8px;
}
