<div class="search-bar">
  <input
    type="text"
    role="search"
    class="search-input"
    id="searchInput"
    [placeholder]="'pages.search_product' | translate"
    autocomplete="off"
    role="combobox"
    (input)="onSearch($event)"
  >
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns()">{{ column.label | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @if (isLoad()) {
        <tr>
          <td [colSpan]="columns().length">{{ 'labels.loading' | translate }}</td>
        </tr>
      }
      <tr *ngFor="let row of paginatedData">
        <td *ngFor="let column of columns()" [style.width.px]="column.width">
          @if (column.data === 'logo') {
            <img [src]="row[column.data]">
          }
          @else {
            {{ row[column.data] | slice: 0: 60 }}{{ row[column.data].length > 60 ? '...' : '' }}
          }
        </td>
      </tr>
    </tbody>

    @if (!data().length && !isLoad()) {
      <tbody>
        <tr>
          <td [colSpan]="columns().length">{{ 'labels.no_data' | translate }}</td>
        </tr>
      </tbody>
    }

  </table>
</div>

@if (data().length) {

  <article class="pagination-container">
    <div class="total">
      {{ 'labels.results' | translate }}: {{ filteredData.length }}
    </div>

    <div class="pagination">
      <button (click)="changePage(-1)" [disabled]="currentPage === 1">« {{ 'labels.previous' | translate }}</button>

      <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
        <button
          [class.active]="currentPage === i + 1"
          (click)="goToPage(i + 1)">
          {{ i + 1 }}
        </button>
      </ng-container>

      <button (click)="changePage(1)" [disabled]="currentPage === totalPages">{{ 'labels.next' | translate }} »</button>
    </div>
  </article>
}
