.table-container {
    overflow: auto;

    table {
        width: 100%;
        min-width: 700px;
        border-collapse: collapse;
        margin: 1rem 0;
        overflow-x: auto;

        th {
            text-transform: capitalize;
        }

        th,
        td {
            border: 1px solid var(--table-border);
            padding: 0.2rem 0.4rem;
            text-align: left;
        }

        th {
            padding: 0.6rem;
        }

        tr:nth-child(even) {
            background-color: var(--ghost-white);
        }

        tr:hover {
            background-color: var(--table-row-hover);
        }
    }
}

.pagination-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    button,
    select {
        min-height: 40px;
        padding: 0.5rem 1rem;
        border: 1px solid var(--table-border);
        background-color: var(--ghost-white);
        text-transform: capitalize;
        cursor: pointer;
        border-radius: var(--border-radius);
        outline: none;
    }
}

.pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;

    button {

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &.active {
            background-color: var(--table-row-hover);
            font-weight: bold;
        }
    }
}

.search-input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 14px;
    color: var(--dark);
    background: transparent;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--blank);
    border: 1px solid var(--table-border);
    border-radius: 8px;
    transition: all 0.2s linear;
    overflow: hidden;
    max-width: 340px;
    margin: 12px 0;
}

.search-input::placeholder {
    color: var(--neutral);
}

.search-bar:focus-within {
    border-color: var(--table-border);
    box-shadow:
        var(--shadow-md),
        0 0 0 3px rgb(14 165 233 / 0.1);
}



img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.total {
    font-size: 14px;
    color: var(--neutral);
    font-weight: 500;
    display: flex;
    gap: 1rem;
    align-items: center;

    p {
        margin: 0;
    }
}

.actions {
    width: 40px;
}

.btn-dropdown {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 24px !important;
    min-height: 30px !important;
    padding: 0px !important;
}

.menu-content {

    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;

    position: absolute;
    background-color: var(--ghost-white);
    padding: 12px;
    z-index: 11;
    right: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: var(--border-radius);
    min-width: 120px;

    button {
        width: 100%;
        text-decoration: none;
        display: block;
        min-height: 30px;
        padding: 4px 16px;
        border-radius: var(--border-radius);
    }

    button:hover {
        background-color: var(--table-row-hover);
    }
}