<div class="search-bar">
  <input
    type="text"
    role="search"
    class="search-input"
    id="searchInput"
    [placeholder]="'pages.search_product' | translate"
    autocomplete="off"
    role="combobox"
    (input)="onSearch($event)"
  >
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns()">{{ column.label | translate }}</th>
        @if (actions()) {<th></th>}
      </tr>
    </thead>
    <tbody>
      @if (isLoad()) {
        <tr>
          <td [colSpan]="columns().length + (actions() ? 1 : 0)">{{ 'labels.loading' | translate }}</td>
        </tr>
      }
      <tr *ngFor="let row of paginatedData; let i = index">
        <td *ngFor="let column of columns()" [style.width.px]="column.width">
          @if (column.data === 'logo') {
            <img [src]="row[column.data]" loading="lazy">
          }
          @else {
            {{ row[column.data] | slice: 0: 60 }}{{ row[column.data].length > 60 ? '...' : '' }}
          }
        </td>
        @if (actions()) {
          <td class="relative actions">
            <button class="btn-dropdown" (click)="openDropdown(i)">
              @if (dropdownOpen === i) {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
              } @else{
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-dots-vertical"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11 12a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M11 19a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M11 5a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
              }
            </button>

            @if (dropdownOpen === i) {
              <ul class="menu-content">
                <li>
                  <button (click)="onActionTable(actionsTb.Edit, row)" class="txt-info">{{ 'labels.edit' | translate }}</button>
                </li>
                <li>
                  <button (click)="onActionTable(actionsTb.Delete, row)" class="txt-danger">{{ 'labels.delete' | translate }}</button>
                </li>
              </ul>
            }
          </td>
        }
      </tr>
    </tbody>

    @if (!data().length && !isLoad()) {
      <tbody>
        <tr>
          <td [colSpan]="columns().length + (actions() ? 1 : 0)">{{ 'labels.no_data' | translate }}</td>
        </tr>
      </tbody>
    }

  </table>
</div>

@if (data().length) {

  <article class="pagination-container">
    <div class="total">
      <p>
        {{ 'labels.results' | translate }}: {{ filteredData.length }}
      </p>

      <div>
        <select class="select-page-size" name="pageSize" id="pageSize" (change)="changePageSize($event)">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>

    <div class="pagination">
      <button (click)="changePage(-1)" [disabled]="currentPage === 1">« {{ 'labels.previous' | translate }}</button>

      <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
        <button
          [class.active]="currentPage === i + 1"
          (click)="goToPage(i + 1)">
          {{ i + 1 }}
        </button>
      </ng-container>

      <button (click)="changePage(1)" [disabled]="currentPage === totalPages">{{ 'labels.next' | translate }} »</button>
    </div>
  </article>
}
