<section>
    <div class="row">
        <h2>{{ 'pages.new_product' | translate }}</h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="onValidate()">
        <div *ngFor="let field of fieldsForm" class="form-input">

            <label [for]="field">{{ toLabel(field) | translate }}</label>

            @if (field === 'description') {
                <textarea
                    [id]="field"
                    [formControlName]="field"
                    [rows]="3"
                    maxlength="200"
                    [class.error-border]="isInvalid(field)"
                ></textarea>
            }
            @else {
                <input
                    [type]="field.includes('date') ? 'date' : 'text'"
                    [id]="field"
                    [maxlength]="getMaxLength(field)"
                    [formControlName]="field"
                    [class.error-border]="isInvalid(field)"
                />
            }

            <msg-validation [formCtrl]="form" [formField]="field" />
        </div>

        <button type="submit">{{ 'labels.save' | translate }}</button>
        <div class="row">
            <button type="button" class="btn-clean flex-1" (click)="back()">{{ 'labels.cancel' | translate }}</button>
            <button type="button" class="btn-clean flex-1" (click)="reset()">{{ 'labels.reset' | translate }}</button>
        </div>
    </form>

</section>
