@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

section {
  width: 96%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px;
}

button {
  border: none;
  outline: none;
  padding: 12px;
  min-height: var(--min-height);
  border-radius: 8px;
  background: var(--button-bg);
}

button.btn-clean {
  background: var(--ghost-white);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 20px auto;
}

textarea,
input {
  padding: 0.5rem;
  border: 1px solid var(--border-input);
  border-radius: 4px;
}

input {
  min-height: var(--min-height);
}

.error-border {
  border-color: var(--danger) !important;
}

.error-message {
  color: var(--danger);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.relative {
  position: relative;
}